@import 'variables';

main {
	height: 100%;

	&.noscroll {
		overflow-y: hidden;
	}
}

.app-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: calc(10px + 2vmin);
	color: #fff;

	h1,
	h6 {
		text-transform: lowercase;
		font-weight: 100;
	}

	h2 {
		margin: auto 0 0.2em;
		font-weight: normal;
	}

	h5 {
		margin: 0.2em 0 auto;
		text-transform: uppercase;
		font-size: 0.55em;

		> span {
			display: inline-block;
			padding: 0 2em;
			border-right: 1px solid rgba(#fff, 0.5);

			&:last-child {
				border: 0;
			}
		}
	}
}

.app-content {
	display: grid;
}
