@import 'variables';

main {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	&.noscroll {
		overflow-y: hidden;
	}
}

.app-content {
	display: flex;
	flex: 1 0 auto;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

.services {
	flex: 1 0 6em;
	width: 100%;

	h6 {
		font-size: 2em;
		color: $green-lt;
		font-weight: 200;
		text-transform: lowercase;
	}
}

[class*='-content'] {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	padding-right: 2em;
	padding-left: 2em;

	> * {
		color: #fff;
	}
}
