.btn {
	margin: 0 0.5em 0.5em;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.6;
	color: rgba(#000, 0.7);
	background-color: #fff;
	border: 2px solid #fff;
	cursor: pointer;
	transition: color 200ms, background-color 300ms, border-color 350ms;

	> a,
	> .btn-inner {
		display: flex;
		padding: 0.333em 1em;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: baseline;
	}

	.icon {
		display: inline-block;
		position: relative;
		top: 0.15em;
	}

	.icon:first-child {
		margin-right: 1em;
	}

	.icon:last-child {
		margin-left: auto;
	}

	&:hover {
		color: #fff;
		background-color: transparent;
	}

	&.btn-outline {
		background-color: transparent;
		color: #fff;
		border-color: #fff;

		&:hover {
			color: rgba(#000, 1);
			background-color: rgba(#fff, 1);
			border-color: rgba(#fff, 1);
		}
	}

}
