
.projects {
	display: flex;
	flex-flow: row wrap;
	padding: 1em 2em 4em;
	margin: 0 2em;
}

.project {
	flex: 0 0 20em;
	padding: 1em;
	margin: 0 1em 2em;
	background: rgba(#fff, 0.6);
}

.project-image {
	width: 100%;
	overflow: hidden;
	text-align: center;

	img {
		max-width: 30em;
	}
}
